---
layout: default
---

<div class="container-fluid">

  {% include _navbar.html %}

  <div class="row" style="height: 4rem"></div>

  <div class="row">
    <div class="col px-0">
      <img src="assets/images/markus-spiske-1192711-unsplash_c.jpg" class="img-fluid px-0 image-strip" alt="City View">
      <div class="carousel-caption px-4">
        <div class="row h-100 align-items-center">
          <div class="order-md-first col-md-6 d-flex justify-content-center align-items-center">
            <h1 class="text-center d-none d-md-block" style="font-weight: bold;">Die einfache Lösung <br> zur Verwaltung Ihrer Immobilien</h1>
            <h3 class="text-center d-md-none" style="font-weight: bold">Die einfache Lösung <br> zur Verwaltung Ihrer Immobilien</h3>
          </div>
          <div class="col-10 d-none d-md-block offset-1 col-md-6 offset-md-0">
            <img class="img-fluid" src="assets/images/dashboard-mockup.png" alt="Dashboard">
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="row pt-4 d-md-none">
    <div class="col-10 offset-1">
      <img class="img-fluid" src="assets/images/dashboard-mockup.png" alt="Dashboard">
    </div>
  </div>

  <div class="row py-4 d-md-none text-center" id="funktionen">
    <div class="col">
        <a href="#testNow" role="button" class="btn btn-md" style="background-color: #152877; color: #ffffff">Kostenlos registrieren</a>
    </div>
  </div>

  <div class="row py-4 py-lg-5 align-items-center feature-row" id="robohand">
    <div class="col col-sm-2 offset-sm-1 col-md-1 offset-md-2 d-none d-sm-block justify-content-center">
      <i class="fas fa-cash-register fa-8x"></i>
    </div>
    <div class="col col-sm-7 offset-sm-2 col-md-7 col-lg-5">
      <h2 class="d-block d-md-none h-small">Automatisierte Erstellung der Betriebskostenabrechnung</h2>
      <h2 class="d-none d-md-block">Automatisierte Erstellung der Betriebskostenabrechnung</h2>
      <ul class="pt-md-4">
        <div class="d-none d-sm-block"><li>Kinderleichte Nebenkostenabrechnung</li></div>
        <li>Unterstützte Kostenerfassung durch Logikprüfung der Eingaben</li>
        <li>Übersichtlicher Kostenvergleich zum Vorjahr</li>
      </ul>
    </div>
  </div>

  <div class="row py-4 py-lg-5 align-items-center feature-row text-light" id="objektverwaltung">
    <div class="col col-sm-2 offset-sm-1 col-md-1 offset-md-2 d-none d-sm-block">
      <i class="far fa-file-contract fa-8x"></i>
    </div>
    <div class="col col-sm-7 offset-sm-2 col-md-7 col-lg-5">
      <h2 class="d-block d-md-none h-small">Digitale und einfache Verwaltung von Mietobjekten</h2>
      <h2 class="d-none d-md-block">Digitale und einfache Verwaltung von Mietobjekten</h2>
        <ul class="pt-md-4">
          <li>Einfache Anlage und Übersicht aller Mietobjekte</li>
          <li>Volle Unterstützung bei der Mietvertragserstellung</li>
          <div class="d-none d-sm-block"><li>Übersichtliche Kontaktverwaltung aller Mieter an einem Ort</li></div>
        </ul>
    </div>
  </div>

    <div class="row py-4 py-lg-5 align-items-center feature-row" id="money">
    <div class="col col-sm-2 offset-sm-1 col-md-1 offset-md-2 d-none d-sm-block">
      <i class="far fa-chart-bar fa-8x"></i>
    </div>
    <div class="col col-sm-7 offset-sm-2 col-md-7 col-lg-5">
      <h2 class="d-block d-md-none h-small">Transparente Übersicht aller Einnahmen und Ausgaben</h2>
      <h2 class="d-none d-md-block">Transparente Übersicht aller Einnahmen und Ausgaben</h2>
        <ul class="pt-md-4">
          <div class="d-none d-sm-block"><li>Vollständiger Überblick aller Transaktionen zu Ihren Mietern</li></div>
          <li>Automatische Zuordnung von Kosten und Mieteingängen</li>
          <li>Sichere Verbindung zu Ihrem Online-Banking</li>
        </ul>
    </div>
  </div>

    <div class="row py-4 py-lg-5 align-items-center feature-row text-light" id="documents">
    <div class="col col-sm-2 offset-sm-1 col-md-1 offset-md-2 d-none d-sm-block">
      <i class="far fa-folder-open fa-8x"></i>
    </div>
    <div class="col col-sm-7 offset-sm-2 col-md-7 col-lg-5">
      <h2 class="d-block d-md-none h-small">Sichere Archivierung aller Dokumente</h2>
      <h2 class="d-none d-md-block">Sichere Archivierung aller Dokumente</h2>
        <ul class="pt-md-4">
          <div class="d-none d-sm-block"><li>Einfacher Upload aller Dokumente per Smartphone, Tablet oder PC</li></div>
          <li>Sicherer Schutz vor Datenverlust</li>
          <li id="testNow">Zugriff von überall mit jedem Gerät zu jeder Zeit</li>
        </ul>
    </div>
  </div>

  <div class="row py-4 justify-content-center">
    <div class="col col-md-7 text-center">
      <div>
        <h2>Testen Sie jetzt Vermieterix ohne Risiko</h2>
        <p>Ermitteln Sie Ihren individuellen Preis</p>
      </div>
      <div class="form-group">
        <!-- <label for="unitSlider">Wieviele Wohneinheiten möchten Sie verwalten? (0-30)</label> -->
        <input type="range" class="custom-range" min="1" max="100" id="units" value="10">
      </div>
      <div><span id='units-label'>10</span> Wohneinheiten</div>
      <div><span id='price-estimate'>100</span><span id="price-text">€</span>/Jahr</div>
      <div class="price-info"><span class="price">1</span> Euro je Einheit</div>
      <div class="price-info pt-1">ab der 31. Einheit 50% Rabatt</div>
    </div>
  </div>

  <div class="row justify-content-center py-4" style="fill: #bbbbbb">
    <div class="col-10 col-md-6 p-md-4" id="registration">
      <form id="SignUp">

        <div class="form-row">
          <div class="col">
            <div class="form-group">
              <!-- <label for="InputVorname">Vorname</label> -->
              <input type="text" class="form-control" id="inputVorname" name="vorname" placeholder="Vorname">  
            </div>
          </div>
          <div class="col">
            <div class="form-group">
              <!-- <label for="InputVorname">Name</label> -->
              <input type="text" class="form-control" id="inputName" name="name" placeholder="Name">
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col">
            <div class="form-group">
              <!-- <label for="InputEmail">Email Adresse</label> -->
              <input type="email" class="form-control" id="inputEmail" name="email" aria-describedby="emailHelp" placeholder="E-mail Adresse">
            </div>
          </div>
        </div>
        
        <div class="row">
          <div class="col">
            <div class="form-group">
              <div id="emailInvalid" class="alert alert-warning hidden" role="alert">Keine gültige Email Adresse.</div>
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col">
            <div class="form-group form-check">
              <input type="checkbox" class="form-check-input" id="CheckSupport" name="checkSupport">
              <label class="form-check-label" for="sheckSupport">persönlicher telefonischen Support (5€/Monat)</label>
            </div>
          </div>
        </div>
        
        <div class="row">
          <div class="col text-center">
            <button type="button" class="btn anmelden" id="anmelden" disabled>Jetzt kostenlos registrieren</button>
          </div>
        </div>

        <div class="row pt-2">
          <div class="col text-center">
            <span style="font-size: 85%">90 Tage Geld-zurück-Garantie</span>
          </div>
        </div>
      </form>
    </div>

  </div>

  <div class="row py-4 d-md-none text-center" id="funktionen">
    <div class="col">
        <div class="dropdown-divider"></div>
    </div>
  </div>

  <div class="row py-1 py-md-5">
    <div class="col col-md-8 offset-md-2 py-4 d-flex flex-column align-items-center">
      <div  class="text-center">
        <div class="pt-3"><i class="fas fa-5x fa-shield-alt" id="shield"></i></div>
        <h3 class="pt-3 text-center d-none d-md-block text">Datenschutz wird bei uns groß geschrieben</h3>
        <h3 class="pt-3 text-center d-block d-md-none h-small">Datenschutz wird bei uns groß geschrieben</h3>
        <div class="py-3 text-justify text-md-center">Die Sicherheit Ihrer Daten ist für uns von höchster Priorität. Um diese vor unbefugtem Zugriff zu schützen, nutzen wir zur Datenübertragung ausschließlich sichere und verschlüsselte Verbindungen (TSL/SSL).</div>
      </div>
    </div>
  </div>

  {% include _footer.html %}

</div>

<script type="text/javascript" src="assets/js/index.js"></script>
