---
layout: default
---
<body>
  <div class="container-fluid">

    {% include _navbar.html %}

    <div class="row" style="height: 4rem"></div>

    <div class="row">
      <div class="col px-0">
        <img src="assets/images/markus-spiske-1192711-unsplash_c.jpg" class="img-fluid px-0" alt="City View">
        <div class="carousel-caption px-4">
          <div class="row h-100 align-items-center">
            <div class="order-md-first col-md-6 d-flex justify-content-center align-items-center">
              <h1 class="text-center d-none d-md-block" style="font-weight: bold;">Die einfache Lösung <br> zur Verwaltung Ihrer Immobilien</h1>
              <h3 class="text-center d-md-none" style="font-weight: bold">Die einfache Lösung <br> zur Verwaltung Ihrer Immobilien</h3>
            </div>
            <div class="col-10 d-none d-md-block offset-1 col-md-6 offset-md-0">
              <img class="img-fluid" src="assets/images/dashboard-mockup.png" alt="Dashboard">
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="row pt-4 d-md-none">
      <div class="col-10 offset-1">
        <img class="img-fluid" src="assets/images/dashboard-mockup.png" alt="Dashboard">
      </div>
    </div>

    <div class="row pt-4 d-md-none" id="funktionen">
      <div class="col-4 offset-4">
        <!-- <div class="dropdown-divider"></div> -->
      </div>
    </div>

<!--     <div class="row py-4">
      <div class="col-10 d-flex flex-column offset-1 col-md-8 offset-md-2 off align-items-center">
        <div class="text-center">
          <h2>Viele Funktionen erwarten Sie, die Ihre Immobilienverwaltung vereinfachen</h2>
        </div>
      </div>
    </div> -->

    <div class="row image-row">
      <div class="col px-0">
        <img src="assets/images/2zu1_objektverwaltung.jpg" class="img-fluid px-0 image-strip" alt="objektverwaltung">
        <div class="carousel-caption whitened px-4">
          <div class="row h-100 align-items-center text-left">
            <div class="col col-md-4 offset-md-4">
              <h2 class="d-none d-md-block">Automatisierte Erstellung der Nebenkostenabrechnung</h2>
              <h2 class="d-block d-md-none h-small">Automatisierte Erstellung der Nebenkostenabrechnung</h2>
              <ul class="pt-md-4 d-none d-md-block">
                <li>Kinderleichte Nebenkostenabrechnung</li>
                <li>Unterstützte Kostenerfassung durch Logikprüfung der Eingaben</li>
                <li>Übersichtlicher Kostenvergleich zum Vorjahr</li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="row image-row">
      <div class="col px-0">
        <img src="assets/images/2zu1_robohand.jpg" class="img-fluid px-0 image-strip" alt="robohand">
        <div class="carousel-caption blacked px-4">
          <div class="row h-100 align-items-center text-left">
            
            <div class="col-12 d-block d-md-none justify-content-around">
              <h2 class="h-small">Digitale und einfache Verwaltung von Mietobjekten</h2>
              <h2 class="h-small pt-3">Transparente Übersicht aller Einnahmen und Ausgaben</h2>
            </div>

            <div class="col col-md-4 offset-md-1">
              <h2 class="d-none d-md-block">Digitale und einfache Verwaltung von Mietobjekten</h2>
              <ul class="text-left pt-md-4 d-none d-md-block">
                <li>Einfache Anlage und Übersicht aller Mietobjekte</li>
                <li>Volle Unterstützung bei der Mietvertragserstellung</li>
                <li>Übersichtliche Kontaktverwaltung aller Mieter an einem Ort </li>
              </ul>
            </div>
            <div class="col col-md-4 offset-md-2">
              <h2 class="d-none d-md-block">Transparente Übersicht aller Einnahmen und Ausgaben</h2>
              <ul class="text-left pt-md-4 d-none d-md-block">
                <li>Vollständiger Überblick aller Transaktionen zu Ihren Mietern</li>
                <li>Automatische Zuordnung von Kosten und Mieteingängen </li>
                <li>Sichere Verbindung zu Ihrem Online-Banking</li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col px-0">
        <img src="assets/images/2zu1_documents.jpg" class="img-fluid px-0 image-strip" alt="documents">
        <div class="carousel-caption whitened px-4">
          <div class="row h-100 align-items-center text-left">
            <div class="col col-md-4 offset-md-4">
              <h2 class="d-none d-md-block">Sichere Archivierung aller Dokumente</h2>
              <h2 class="d-block d-md-none h-small">Sichere Archivierung aller Dokumente</h2>
              <ul class="pt-md-4 d-none d-md-block">
                <li>Einfacher Upload aller Dokumente per Smartphone, Tablet oder PC</li>
                <li>Sicherer Schutz vor Datenverlust</li>
                <li id="testNow">Zugriff von überall mit jedem Gerät zu jeder Zeit</li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="row py-4 justify-content-center">
      <div class="col col-md-7 text-center">
        <div>
          <h2>Testen Sie jetzt Vermieterix ohne Risiko</h2>
          <p>Ermitteln Sie Ihren individuellen Preis</p>
        </div>
        <div class="form-group">
          <!-- <label for="unitSlider">Wieviele Wohneinheiten möchten Sie verwalten? (0-30)</label> -->
          <input type="range" class="custom-range" min="1" max="100" id="units" value="10">
        </div>
        <div><span id='units-label'>10</span> Wohneinheiten</div>
        <div><span id='price-estimate'>100</span><span id="price-text">€</span>/Jahr</div>
        <div class="price-info">(<span class="price">1</span> Euro je Einheit)</div>
      </div>
    </div>

    <!-- <div class="row pt-5" id="pricing">
      <div class="col-8 d-flex flex-column offset-2 align-items-center">
        <div class="text-center">
          <h2>Optionen</h2>
          <p>Wählen Sie das passende Paket für ihre Ansprüche. 30 Tage kostenlos.</p>
        </div>
      </div>
    </div> -->

<!--     <div class="row py-4 justify-content-center">
      <div class="col-10 offset-sm-0 col-sm-6 col-md-4 col-lg-3 mt-2 mt-lg-0">
        <div class="card shadow">
          <div class="card-body">
            <h2 class="card-title" style="font-weight: bold">LITE</h2>
            <div class="pb-0 price-info">je Einheit</div>
            <div>
              <span class="price price-text" id="price-tag">1</span><span class="price-text">€</span><span class="price-info">/Mo</span>
            </div>
            <div class="d-flex flex-column">
              <div><i class="pr-1 far fa-check-circle"></i><span class="checked">Bankanbindung</span></div>
              <div><i class="pr-1 far fa-check-circle"></i><span class="checked">Dashboard</span></div>
              <div><i class="pr-1 far fa-check-circle"></i><span class="checked">Dokumentenverwaltung</span></div>
              <div><i class="pr-1 far fa-check-circle"></i><span class="checked">Benachrichtungen</span></div>
              <div><i class="pr-1 far fa-check-circle"></i><span class="checked">Betriebskostenabrechnung</span></div>
              <div><i class="pr-1 far fa-check-circle"></i><span class="checked">Digitaler Concierge</span></div>
            </div>
            <p></p>
            <button type="button" href="vportal-anmelden.html" class="btn" id="anmelden" data-price="-1"><span class="spinner-border spinner-border-sm d-none" id='spinner-0' role="status" aria-hidden="true"></span>Jetzt kostenlos registrieren</button>
          </div>
        </div>
      </div>
    </div> -->

    <div class="row justify-content-center py-4" style="fill: #bbbbbb">
      <div class="col-10 col-md-6 p-md-4" id="registration">
        <form id="SignUp">

          <div class="form-row">
            <div class="col">
              <div class="form-group">
                <!-- <label for="InputVorname">Vorname</label> -->
                <input type="text" class="form-control" id="inputVorname" name="vorname" placeholder="Vorname">  
              </div>
            </div>
            <div class="col">
              <div class="form-group">
                <!-- <label for="InputVorname">Name</label> -->
                <input type="text" class="form-control" id="inputName" name="name" placeholder="Name">
              </div>
            </div>
          </div>

          <div class="row">
            <div class="col">
              <div class="form-group">
                <!-- <label for="InputEmail">Email Adresse</label> -->
                <input type="email" class="form-control" id="inputEmail" name="email" aria-describedby="emailHelp" placeholder="E-mail Adresse">
              </div>
            </div>
          </div>
          
          <div class="row">
            <div class="col">
              <div class="form-group">
                <div id="emailInvalid" class="alert alert-warning hidden" role="alert">Keine gültige Email Adresse.</div>
              </div>
            </div>
          </div>

          <div class="row">
            <div class="col">
              <div class="form-group form-check">
                <input type="checkbox" class="form-check-input" id="CheckSupport" name="checkSupport">
                <label class="form-check-label" for="sheckSupport">persönlicher telefonischen Support (5€/Monat)</label>
              </div>
            </div>
          </div>
          
          <div class="row">
            <div class="col text-center">
              <button type="button" class="btn anmelden" id="anmelden" disabled>Jetzt kostenlos registrieren</button>
            </div>
          </div>

          <div class="row pt-2">
            <div class="col text-center">
              <span style="font-size: 85%">90 Tage Geld-zurück-Garantie</span>
            </div>
          </div>
        </form>
      </div>

    </div>


    <div class="row">
      <div class="col px-0">
        <img src="assets/images/2zu1_peter.jpg" class="img-fluid px-0 image-strip" alt="peter">
        <div class="carousel-caption px-4">
          <div class="row h-100">
            <div class="col pt-1 col-md-4 pt-md-5 offset-md-1 text-left" id="peter"> 
              <h2 class="d-none d-md-block">Peter verwaltet seine Immobilien jetzt online.</h2>
              <h2 class="d-block d-md-none h-small">Peter verwaltet seine Immobilien jetzt online.</h2>
              <div>Finden Sie heraus, wie Sie mit Vermieterix Zeit und Geld sparen können.</div>
              <div class="pt-2">
                <a href="index.html#testNow" role="button" class="btn btn-md" style="background-color: #152877; color: #ffffff">Jetzt kostenlos registrieren</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="row py-1 py-md-5">
      <div class="col col-md-8 offset-md-2 py-4 d-flex flex-column align-items-center">
        <div  class="text-center">
          <div class="pt-3"><i class="fas fa-5x fa-shield-alt" id="shield"></i></div>
          <h3 class="pt-3 text-center d-none d-md-block text">Sicherheit im Datenschutz kommt für uns an erster Stelle</h3>
          <h3 class="pt-3 text-center d-block d-md-none h-small">Sicherheit im Datenschutz kommt für uns an erster Stelle</h3>
          <div class="py-3 text-justify text-md-center">Wir legen allerhöchsten Wert auf die Sicherheit Ihrer Daten.<br>Zur Übertragung Ihrer Daten verwenden wir ausschließlich sichere, verschlüsselte Verbindungen (TLS/SSL), sodass diese nicht von Unbefugten abgegriffen werden können.</div>
        </div>
      </div>
    </div>

    {% include _footer.html %}

  </div>

  <script type="text/javascript">
    // google AdWords
    function gtag_report_conversion(url) {
      var callback = function () {
        if (typeof(url) != 'undefined') {
          window.location = url;
        }
      };
      gtag('event', 'conversion', { 'send_to': 'AW-756223310/eDWKCPmw-5YBEM6azOgC', 'event_callback': callback });
      return false;
    }
  </script>

  <script type="text/javascript" src="assets/js/index.js"></script>
</body>
