---
layout: default
---
<div class="container-fluid">

  {% include _navbar.html%}

  <div class="row" style="height: 4rem"></div>

  <div class="row">
    <div class="col px-0">
      <img src="assets/images/markus-spiske-1192711-unsplash_c_quarter.jpg" class="img-fluid px-0" alt="City View">
      <div class="carousel-caption d-none d-md-block">
        <!-- <h1 style="font-weight: bold;">Vielen Dank für Ihr Interesse</h1> -->
      </div>
    </div>
  </div>

  <div class="row pt-4 justify-content-center">
    <div class="col col-md-8 text-center">
      <h1 class="d-none d-md-block" style="font-weight: bold;">Vielen Dank für Ihr Interesse an Vermieterix, dem Portal für Immobilienverwalter!</h1>
      <h2 class="d-block d-md-none h-small" style="font-weight: bold;">Vielen Dank für Ihr Interesse an Vermieterix, dem Portal für Immobilienverwalter!</h2>
    </div>
  </div>

  <div class="row justify-content-center">
    <div class="col-12 col-md-6 pt-4 text-justify text-md-center" style="font-size: 130%">

      <div class="text-center">
        <i class="fas fa-business-time fa-3x pb-4"></i>
      </div>

      <p>Der gewünschte Service steht Ihnen bald zur Verfügung</p>
      
      <p>Als Dankeschön für Ihr Vertrauen und Ihr Interesse können Sie die Lösung in den ersten Monaten kostenfrei nutzen und erhalten vor dem offiziellen Start exklusiven Zugang zu unserem Vermieterportal.</p>

      <p>Wir hoffen auf Ihre Geduld und halten Sie gerne auf dem Laufenden.</p>

      <p>
        Herzliche Grüße,
        <br>
        Ihr Team von Vermieterix
      </p>

    </div>
  </div>

  <div class="row align-self-end" style="height: 100px">
  </div>

  <div class="fixed-bottom">
  {% include _footer.html %}
  </div>

</div>

<script type="text/javascript" src="assets/js/vportal-anmelden.js"></script>
