<nav class="navbar navbar-expand-md navbar-light bg-white fixed-top">
  <div class="navbar-brand d-flex align-items-center justify-content-center" href="index.html#">
    <img class="img-fluid" src="assets/images/logo.jpg" style="height: 56px;">
    <!-- <i class="far fa-building fa-2x pr-2"></i> -->
    <a class="pt-2 pl-2" href="index.html" id="title">Vermieterix</a>
  </div>

  <div class="collapse navbar-collapse" id="navbarText">
    <ul class="navbar-nav ml-auto">
      <!-- <li class="nav-item pt-2 pt-md-0 pr-2">
        <a href="index.html#funktionen" role="button" class="btn btn-md" style="background-color: #152877; color: #ffffff">Funktionen</a>
      </li> -->
      <li class="nav-item py-2 pt-md-0">
        <a href="index.html#testNow" role="button" class="btn btn-md" style="background-color: #152877; color: #ffffff">Kostenlos registrieren</a>
      </li>
    </ul>
  </div>

  <!-- <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button> -->
</nav>
