body {
     font-family: Futura, Helvetica, Arial, sans-serif;
     color: #152877;
}

.container {
    max-width: 1500px;
}

.feature-row {
    background-size: cover;
}

#robohand {
    background-image: url('../images/2zu1_robohand_blass.jpg')
}

#objektverwaltung {
    background-image: url('../images/2zu1_objektverwaltung_dunkel.jpg')
}

#money {
    background-image: url('../images/2zu1_money_blass.jpg')
}

#documents {
    background-image: url('../images/2zu1_documents_dunkel.jpg')
}

.image-strip {
    width: 100%;
}

.carousel-caption {
    max-width: 100%;
    width:100%;
    height: 100%;
    left: 0;
    background: rgba(255, 255, 255, 0.3);
}

.carousel-caption {
    color: #152877;
    top: 0;
    bottom: auto;
}

ul {
    padding-left: 20px;
    margin-bottom: 0px;
}

.ul-md {
    font-size: 150%;
}

.ul-md li {
    line-height: 150%;
}

li {
    line-height: 110%;
    padding-top: 5pt;
}

/* TODO:; Make fonts responsive*/
.h-small {
    font-size: 14pt;
    font-weight: bold;
}

/* NAVBAR */

#title {
    font-size: 140%;
    font-weight: bold;
    color: #152877;
    text-decoration: none;
}

/* NAVBAR ENDE*/

.form-control {
    border-radius: 0px;
    border-width: 0px;
    border-bottom-width: 2px;
    border-bottom-color: #777777;
}

.form-check-label {
    font-size: 80%;
}

#anmelden {
    color: #ffffff;
    background-color: #10B201;
}

#units-label {
    font-size: 240%;
    font-weight: bold;
}

#price-estimate {
    font-size: 180%;
}

.price-info {
    font-size: 70%;
}

.hidden {
    display: none;
}

#registration {
    /*background-color: #f6f6f6;
    border-radius: 13px;*/
}

#peter {
    /*color: #ffffff;*/
}

#footer {
    background: #152877;
}

#footer a {
    color: #ffffff;
    text-decoration: none;
}

/* IMPRESSUM */

#impressum h1 {
    padding-top: 2rem;
}

#impressum h2 {
    padding-top: 2rem;
}

#impressum h3 {
    padding-top: 1rem;
}

#impressum h4 {
    padding-top: 0rem;
}

/* IMPRESSUM */
