body {
     font-family: Futura, Helvetica, Arial, sans-serif;
     color: #152877;
}

.carousel-caption {
    max-width: 100%;
    width:100%;
    height: 100%;
    left: 0;
    background: rgba(246, 246, 246, 0.75);
}

#title {
    font-size: 140%;
    font-weight: bold;
    color: #152877;
    text-decoration: none;
}

.carousel-caption {
    color: #152877;
    top: 0;
    bottom: auto;
}

.feature-text {
    font-size: 90%;
    color: #606a96;
}

.fa-check-circle {
    color: #249d3c;
}

.fa-circle {
    color: #94979b;
}

.checked {
    color: #000000;
}

.unchecked {
    color: #94979b;
}

#anmelden {
    color: #ffffff;
    background-color: #10B201;
}

.price-text {
    font-size: 240%;
}

.price-info {
    font-size: 80%;
}

#impressum h1 {
    padding-top: 2rem;
}

#impressum h2 {
    padding-top: 2rem;
}

#impressum h3 {
    padding-top: 1rem;
}

#impressum h4 {
    padding-top: 0rem;
}

.hidden {
    display: none;
}

.image-strip {
    width: 100%;
}
