<!DOCTYPE html>
<html>
  <head>
    <script>
    // Set to the same value as the web property used on the site
    var gaProperty = 'UA-135670334-1';
  
    // Disable tracking if the opt-out cookie exists.
    var disableStr = 'ga-disable-' + gaProperty;
    if (document.cookie.indexOf(disableStr + '=true') > -1) {
      window[disableStr] = true;
    }
  
    // Opt-out function
    function gaOptout() {
      document.cookie = disableStr + '=true; expires=Thu, 31 Dec 2099 23:59:59 UTC; path=/';
      window[disableStr] = true;
    }
    </script>
  
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-135670334-1"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());
  
      gtag('config', 'UA-135670334-1', {'anonymize_ip': true});
      gtag('config', 'AW-756223310');
    </script>

    <meta name="google-site-verification" content="RasTlHogNKJ6zRERO3eswWPSU9_vdqy6GOY6jAOrueg"/>
  
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
  
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="assets/css/bootstrap.min.css">
  
    <!-- Fontawesome -->
    <link rel="stylesheet" href="assets/css/fontawesome-solid.min.css">
    <link rel="stylesheet" href="assets/css/fontawesome-regular.min.css">
    <link rel="stylesheet" href="assets/css/fontawesome.min.css"> 

    <link rel="stylesheet" type="text/css" href="assets/css/portal.css">

    <!-- Facebook Pixel Code -->
    <script>
      !function(f,b,e,v,n,t,s)
      {if(f.fbq)return;n=f.fbq=function(){n.callMethod?
      n.callMethod.apply(n,arguments):n.queue.push(arguments)};
      if(!f._fbq)f._fbq=n;n.push=n;n.loaded=!0;n.version='2.0';
      n.queue=[];t=b.createElement(e);t.async=!0;
      t.src=v;s=b.getElementsByTagName(e)[0];
      s.parentNode.insertBefore(t,s)}(window, document,'script',
      'https://connect.facebook.net/en_US/fbevents.js');
      fbq('init', '866406560370388');
      fbq('track', 'PageView');
    </script>
    <noscript><img height="1" width="1" style="display:none"
      src="https://www.facebook.com/tr?id=866406560370388&ev=PageView&noscript=1"
    /></noscript>
    <!-- End Facebook Pixel Code -->

    <title>{{ site.title }}</title>
    <meta name="description" content="Kinderleichte Nebenkostenerstellung ✓ Übersicht aller Einnahmen & Ausgaben ✓ digitale Verwaltung Ihrer Wohneinheiten ✓  jetzt testen, ohne Risiko">
  </head>
  <body>
    {{ content }}

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="assets/js/jquery-3.3.1.min.js"></script>
    <script src="assets/js/popper.min.js"></script>
    <script src="assets/js/bootstrap.min.js"></script>

  </body>
</html>
